[Desktop Entry]
Encoding=UTF-8
Name=LXTerminal
Name[af]=LXTerminal
Name[ar]=LXTerminal
Name[be]=LXTerminal
Name[bg]=LXTerminal
Name[bn]=LX~_~M
Name[bn_IN]=LXTerminal
Name[ca]=LXTerminal
Name[cs]=LXTerminal
Name[da]=LXTerminal
Name[de]=LXTerminal
Name[el]=LXTerminal
Name[en_GB]=LXTerminal
Name[eo]=LXTerminalo
Name[es]=LXTerminal
Name[es_VE]=LXTerminal
Name[et]=LXTerminal
Name[eu]=LXTerminala
Name[fa]=~L~F~G ~L LX
Name[fi]=LXTerminal
Name[fo]=LXTerminal
Name[fr]=LXTerminal
Name[frp]=LXTerminal
Name[gl]=LXTerminal
Name[he]=~[| ~Y ~T~^~U LXTerminal
Name[hr]=LXterminal
Name[hu]=LXTerminal
Name[id]=LXTerminal
Name[it]=LXTerminal
Name[ja]=LXTerminal
Name[kk]=LXTerminal
Name[ko]=LXTerminal
Name[lg]=LXTerminal
Name[lt]=LXTerminal
Name[ms]=LXTerminal
Name[nb]=LXTerminal
Name[nl]=LXTerminal
Name[nn]=LXTerminal
Name[pl]=LXTerminal
Name[pt]=LXTerminal
Name[pt_BR]=LXTerminal
Name[ro]=LXTerminal
Name[ru]=LXTerminal
Name[sk]=LXTerminal
Name[sl]=LXTerminal
Name[sr]=~[~X~A-~@
Name[sr@latin]=LIks-Terminal
Name[sv]=LXTerminal
Name[te]=LX~_~F~M~M
Name[tr]=LXTerminal
Name[tt_RU]=LXTerminal
Name[ug]=LXTerminal
Name[uk]=LX-~B~@~V
Name[ur]=~L~D ~L ~E~F~D
Name[ur_PK]=~L~D ~L ~E~F~D
Name[vi]=LXTerminal
Name[zh_CN]=LX ~H
Name[zh_TW]=LX ~B~_
GenericName=Terminal
GenericName[af]=Terminaal
GenericName[ar]= ~A~J
GenericName[be]=~M~@~V
GenericName[bg]=~@
GenericName[bn]=~_~M
GenericName[ca]=Terminal
GenericName[cs]=Terminl
GenericName[da]=Terminal
GenericName[de]=Terminal
GenericName[el]=~A~D~L
GenericName[en_GB]=Terminal
GenericName[es]=Terminal
GenericName[es_VE]=Terminal
GenericName[et]=Terminal
GenericName[eu]=Terminala
GenericName[fa]=~L~F~G
GenericName[fi]=Pte
GenericNameime[fr]=Terminal
GenericName[gl]=Terminal
GenericName[he]=~^~U
GenericName[hr]=Terminal
GenericName[hu]=Terminl
GenericName[id]=Terminal
GenericName[it]=Terminale
GenericName[ja]=~\
GenericName[kk]=~@
GenericName[ko]=~D~D~P
GenericName[lg]=Kiwandikiro
GenericName[lt]=Terminalas
GenericName[ml]=~_~F~@~M~M~M
GenericName[ms]=Terminal
GenericName[nb]=Terminal
GenericName[nl]=Terminalvenster
GenericName[nn]=Terminal
GenericName[pl]=Terminal
GenericName[pt]=Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Terminal
GenericName[ru]=~@
GenericName[sk]=Terminl
GenericName[sl]=Terminal
GenericName[sr]=~@
GenericName[sr@latin]=Terminal
GenericName[sv]=Terminal
GenericName[te]=~_~F~M~M
GenericName[tr]=Uçbirim
GenericName[tt_RU]=~@
GenericName[ug]=~P~E~I~F~D
GenericName[uk]=~@~V
GenericName[vi]=Ca s~U l~Gnh
GenericName[zh_CN]=~H
GenericName[zh_TW]=~B~_
Comment=Use the command line
Comment[af]=Gebruik die opdraglyn
Comment[ar]=~P~E  ~D~H~E
Comment[be]=~C~O~B~@ ~B~M~@~V
Comment[bg]=~X   ~@
Comment[bn]=~U~M ~G ~M ~U ~G
Comment[ca]=Utilitza la lnia d'ordres
Comment[cs]=Pouvat p~Ykazov ~Ydek
Comment[da]=Brug kommandolinjen
Comment[de]=Befehlszeile verwenden
Comment[el]=~A~C ~A~B ~D~N
Comment[en_GB]=Use the command line
Comment[es]=Utilice la lnea de rdenes
Comment[es_VE]=Usar la lnea de comandos
Comment[et]=Ksurea kasutamine
Comment[eu]=Erabili komando-lerroa
Comment[fa]=~A~G   ~A~E~F
Comment[fi]=Kyt komentorivi
Comment[fo]=Nt striboslinjuna
Comment[fr]=Utiliser la ligne de commande
Comment[gl]=Usar a lia de ordes
Comment[he]=~Y~^~U ~Q~U ~T~U~S~T
Comment[hr]=Koristi naredbeni redak
Comment[hu]=Parancssor hasznlata
Comment[id]=Gunakan perintah baris
Comment[it]=Usa la riga di comando
Comment[ja]=~B~C~^~C~C~I~C~C~B~C~\~A~A~Y
Comment[kk]=~Z~K~[ ~K ~[~C
Comment[ko]=~E|  ~V~I~]~D ~B~Z~U~K~H~K
Comment[lg]=Kolera mu kiwandikiro
Comment[lt]=Naudoti komand eilut~Y
Comment[nb]=Bruk kommandolinjen
Comment[nl]=Gebruik de opdrachtregel
Comment[nn]=Bruk kommandolinja
Comment[pl]=Emulator terminala
Comment[pt]=Utilizar a linha de comandos
Comment[pt_BR]=Use a linha de comando
Comment[ro]=Utilizeaz~C linia de comand~C
Comment[ru]=~X~A~L~B~L ~C~N ~A~B~@~C
Comment[sk]=Poui prkazov riadok
Comment[sl]=Uporabi ukazno vrstico
Comment[sr]=~Z~@~A~B~B ~X~C ~@
Comment[sr@latin]=Koristite liniju naredbi
Comment[sv]=Anvnd kommandoraden
Comment[te]=~U~B~A ~H~A~A ~A
Comment[tr]=Komut satrn kullan
Comment[tt_RU]=~Z ~N~K ~C~C
Comment[ug]=~G~J~G~B ~B~G~I~F~I ~I~D~U
Comment[uk]=~R~@~A~B~B ~C ~A~B~@~V~G~C
Comment[vi]=Dùng dng l~Gnh
Comment[zh_CN]=~T~Q~L
Comment[zh_TW]=~T~Q~H~W
TryExec=/usr/bin/lxterminal
Exec=/usr/bin/lxterminal -e /bin/bash
Icon=lxterminal
Type=Application
Categories=GTK;System;TerminalEmulator;
Keywords=console;command line;execute;
